/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: "Roboto", sans-serif;
	
}

.p{
	font-family: "Roboto", sans-serif;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
	
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
	color: #35452A
}

.protest-strike-regular {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
color: #F9F0D5
}

.protest-strike-regular2 {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
color: #35452A
}
/* Changing the background colour for the header */

header {
	background-color: #4C6F57;}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #ABCA9E;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
	
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}
        .slider-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
        }
        .slider-content img {
            width: 100px;
            height: auto;
        }

        /* Default styles for smaller screens */
        .slider-content h2 {
            font-size: 1.5rem;
        }
        .slider-content .btn {
            font-size: 1rem;
            padding: 0.5rem 1rem;
        }

        /* Styles for larger screens */
        @media (min-width: 576px) {
            .slider-content h2 {
                font-size: 2rem;
            }
            .slider-content .btn {
                font-size: 1.25rem;
                padding: 0.75rem 1.5rem;
            }
        }

        @media (min-width: 768px) {
            .slider-content h2 {
                font-size: 3rem;
            }
            .slider-content .btn {
                font-size: 1.5rem;
                padding: 1rem 2rem;
            }
        }

        @media (min-width: 992px) {
            .slider-content h2 {
                font-size: 4rem;
            }
            .slider-content .btn {
                font-size: 1.75rem;
                padding: 1.25rem 2.5rem;
            }
        }

        @media (min-width: 1200px) {
            .slider-content h2 {
                font-size: 5rem;
            }
            .slider-content .btn {
                font-size: 2rem;
                padding: 1.5rem 3rem;
            }
        }

/* Index  */
  .column {
        padding: 20px;
	
      }
      .icon {
        font-size: 20px;
        margin-bottom: 10px;
		  background-color: #ABCA9E
}

.slider-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
        }
        .slider-content img {
            width: 100px;
            height: auto;
        }

        /* Default styles for smaller screens */
        .slider-content h2 {
            font-size: 1.5rem;
        }
        .slider-content .btn {
            font-size: 1rem;
            padding: 0.5rem 1rem;
        }

        /* Styles for larger screens */
        @media (min-width: 576px) {
            .slider-content h2 {
                font-size: 2rem;
            }
            .slider-content .btn {
                font-size: 1.25rem;
                padding: 0.75rem 1.5rem;
            }
        }

        @media (min-width: 768px) {
            .slider-content h2 {
                font-size: 3rem;
            }
            .slider-content .btn {
                font-size: 1.5rem;
                padding: 1rem 2rem;
            }
        }

        @media (min-width: 992px) {
            .slider-content h2 {
                font-size: 4rem;
            }
            .slider-content .btn {
                font-size: 1.75rem;
                padding: 1.25rem 2.5rem;
            }
        }

        @media (min-width: 1200px) {
            .slider-content h2 {
                font-size: 5rem;
            }
            .slider-content .btn {
                font-size: 2rem;
                padding: 1.5rem 3rem;
            }
        }

/* Button */

			  
.dropdown-menu{
    --bs-dropdown-link-active-bg: #4C6F57;
}

.btn-primary {
  background-color: #4C6F57; 
  border-color: #4C6F57; 
}

.btn-primary:hover {
    background-color: #4C6F57; 
    border-color: #4C6F57; 
  }
		        